@font-face {
  font-family: 'vass';
  src:  url('fonts/vass.eot?ohzm1n');
  src:  url('fonts/vass.eot?ohzm1n#iefix') format('embedded-opentype'),
    url('fonts/vass.ttf?ohzm1n') format('truetype'),
    url('fonts/vass.woff?ohzm1n') format('woff'),
    url('fonts/vass.svg?ohzm1n#vass') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vass' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e901";
}
.icon-googleplus:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
