/*OFFICE 365*/
#O365_NavHeader, #O365_TopMenu{
    background-color: #000 !important;
}

#O365_MainLink_TenantLogo{
    display:none;
}

#s4-workspace{
    overflow-x: hidden;
}

#s4-bodyContainer{
    padding-bottom: 0px;
}

#DeltaWebPartAdderUpdatePanelContainer{
    z-index:999;
}

.container-fluid * {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

p, p span {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
}

.span-corrector{
    position: relative;
    /*top: -13px;*/
}

.center-icon span{
    font-size: 1.5em;
    position: relative;
    top: 4px;
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
}

a, a:hover, a:visited{
    color:#00669C;
    text-decoration:none;
}

.o-hidden{
    overflow: hidden;
}

.hidden{
    display: none !important;
}

/*TAMAÑOS FUENTE*/
.font-weight-semi-bold{
    font-weight: 600;
}

.bold{
    font-weight: 600;
}

/*MÁRGENES*/
.mt-30{
    margin-top: 30px;
}

.mt-6{
    margin-top: 65px;
}

.mb-20{
    margin-bottom: 20px;
}

.no-margin{
    margin: 0px !important;
}

.mb-0{
    margin-bottom: 0px;
}

.no-padding{
    padding: 0px;
}

.no-padding-right{
    padding-right: 0px;
}

.pl-15{
    padding-left: 15px;
}

.pt-4{
    padding-top: 4px !important;
}

.pr-0{
    padding-right:0px;
}

/*BORDES*/
.br-10{
    border-radius:10px;
}

.b-top{
    border-top: solid 1px #333;
    padding-top: 15px;
}


/*ALTURAS*/
.h-50p {
    height: 50%;
}

.h-200{
    height: 228px;
}

/*ANCHOS*/
.w-75{
    width:75%;
}

/*COLORES DE FUENTE*/
.fg-dark-blue{
    color: #003354;
}

.fg-red{
    color:#D1232B !important;
}

.fg-grey{
    color: #666666;
}

.fg-blue{
    color: #50bbeb;
}

fg-blue2{
    color:#458CB4;
}

.fg-purple{
    color: #6d6ba6;
}

.fg-violet{
    color: #9b549e;
}

.fg-orange{
    color: #f39a4a;
}

.fg-green{
    color: #629e4d;
}

.fg-khaki{
    color: #d3d612;
}

/*BACKGROUND*/

/*.bg-throne{
    background: url(https://grupovass.sharepoint.com/es-es/businessvalue/PublishingImages/iron-throne.jpg) no-repeat;
    background-size: cover;
}*/

.bg-targaryen{
    background-color: #D1232B;
}

.bg-stark{
    background-color: #939393;
}

.bg-lannister{
    background-color: #F0B722;
}

.bg-tyrell{
    background-color:#BB9917;
}

.bg-baratheon{
    background-color:#bb9917;
}

.bg-tully{
    background-color:#022140;
}

.bg-mormont{
    background-color:#497A32;
}

.bg-dark-blue{
    background-color: #003354;
}

.bg-grey{
    background-color: #666666 !important;
}

.bg-blue{
    background-color: #50bbeb;
}

.bg-blue a, .bg-blue a:hover, .bg-blue a:visited{
    color:#000 !important;
}

.bg-purple{
    background-color: #6d6ba6;
}

.bg-purple a, .bg-purple a:hover, .bg-purple a:visited{
    color:#fff !important;
}

.bg-violet{
    background-color: #9b549e;
}

.bg-violet a, .bg-violet a:hover, .bg-violet a:visited{
    color:#fff !important;
}

.bg-orange{
    background-color: #f39a4a !important;
}

.bg-orange a, .bg-orange a:hover, .bg-orange a:visited{
    color:#000 !important;
}

.bg-green{
    background-color: #629e4d;
}

.bg-green a, .bg-green a:hover, .bg-green a:visited{
    color:#000 !important;
}

.bg-khaki{
    background-color: #d3d612;
}

.bg-khaki a, .bg-khaki a:hover, .bg-khaki a:visited{
    color:#000 !important;
}

.bg-chat{
    background-image:url('/Style Library/images/iconos/chat.svg');
    background-repeat: no-repeat;
    background-position-x: 90%;
}

/*HEADER*/
.breadcrumb{
    background-color:#fff !important;
}
header{
    height:90px;
}

header > .row{
    height: 100% !important;
    margin-bottom: 0px;
}

.logo{
    padding-top:20px;
    padding-bottom: 10px;
    height: 100%;
}

.logo a{
    display: inline-block;
    border-right: solid 1px #50bbeb;
    float: left;
    width: 112px;
    height: 100%;
    padding-left: 10px;
    padding-top: 12px;
}

.logo img{
    width: 100%;
}

.logo span{
    font-weight: 400;
    color: #50bbeb;
    display: inline-block;
    margin-top: 26px;
    margin-left: 5px;
    font-size: 20px;
}

.s4-tn{
    padding-top:27px;
    width: 100%;
    text-align: center;
}

.ms-core-listMenu-horizontalBox ul, .ms-core-listMenu-horizontalBox li, .ms-core-listMenu-horizontalBox .ms-core-listMenu-item, .ms-core-listMenu-horizontalBox > ul > li > table{
    padding: 5px;
    display: inline-block;
}

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item{
    font-weight: 400;
    display: inline-block;
}

.s4-tn li.static > a {
	display: none !important;
}

.s4-tn li.static > ul a {
	display: block !important;
    color: #fff;
    font-weight: 600;
    text-transform:uppercase;
}

.s4-tn li.static > ul a:hover{
    color: #fff;
}

#SearchBox{
    width: 100%;
}

#SearchBox > div{
    width: 100%;
}

#SearchBox input{
    width: 94%;
}

.search-box{
    background: url('/style library/images/search.png') #194865 no-repeat 95% 90% !important;
    border:none !important;
    width:100% !important;
    padding: 45px 0px 0px 10px !important;
    height: 100% !important;
    color:#fff !important;
    border-radius:0px !important;
    margin-bottom: 1px;
}

.search-box:focus{
    border: none !important;
    outline: none;
}

.menu-item.dynamic-children span {
    background: none !important;
}

.ms-core-listMenu-horizontalBox .dynamic-children.additional-background{
    padding:0px;
}

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item{
    margin-right: 0px;
}

ul.root > li ul li.static.dynamic-children ul {
    list-style: none;
    background-color: #003354;
    border: none;
    box-shadow: none;
    left: 0px !important;
    min-width: 200px !important;
}

ul.root > li ul li.selected {
    background-color: #fff;
}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link {
    color: #003354;
}

.row{
    margin-bottom: 20px;
}

/*CONTENT*/
#page-title{
    color: #194865;
    border-bottom: solid 1px #333;
    margin: 20px 10px;
    font-size: 2em;
}

.content {
    min-height: 400px;
    margin-top: 20px;
    padding: 0px 20px;
}

.summary{
    line-height: 28px;
    margin-left: 20px;
}

#summary p{
    line-height: 28px;
}

.summary img {
    max-width: 100%;
    height: auto;
}

/*HOME*/

#home .row, #home .content .row{
    margin-bottom: 20px;
}

#home #top-zone {
    background-color:#003354;
    padding: 15px 5px 15px 5px;
    overflow: hidden;
}

#home #carouselNews{
    border-radius: 5px;
}

.carousel .carousel-item {
    height: 380px;
}

#home #carouselNews .carousel-item .carousel-caption {
    left: 0%;
    right: 0%;
    bottom: 0px;
    padding: 15px;
    background-color: rgba(245, 245,245, 0.9);
    text-align:left;
    color:#000;
}

#home #carouselNews .carousel-item .carousel-caption h5 a
{
    font-size: 2em;
}

/*FIN HOME*/
/*SUBHOME*/
#menu-button{
    left: 0px;
    position: absolute;
    z-index: 999;
    background-color: #D9F3FC;
    cursor: pointer;
    top: 96px;
    width: 40px;
    height: 40px;
    text-align: center;
}

#menu-button span{
    font-size: 24px;
    position:relative;
    top:7px;
}

#current-menu {
    background-color: #D9F3FC;
    min-height: 300px;
    padding: 66px 0px;
    width:250px;
}

#current-menu ul{
    list-style: none;
    padding-left: 0px;
}

#current-menu ul li {
    margin-bottom: 10px;
    padding-left: 60px;
}

#current-menu ul li a{
    font-size: 1.2em !important;
    color: #000;
}

#current-menu ul li a, #current-menu ul li a:hover, #current-menu ul li a:visited {
    text-decoration: none;
}

#current-menu ul li.active {
    background-color: #c2ecfa;
    font-weight: normal;
}

#current-submenu {
    background-color: #c2ecfa;
    min-height: 300px;
    padding: 66px 0px;
    width:250px;
}

#current-submenu ul {
    list-style: none;
    padding-left: 0px;
}

#current-submenu ul li {
    margin-bottom: 10px;
    padding-left: 20px;
}

#current-submenu ul li a {
    font-size: 1.2em !important;
    color: #000;
}

#current-submenu ul li a, #current-submenu ul li a:hover, #current-submenu ul li a:visited {
    text-decoration: none;
}

#current-submenu ul li.active {
    background-color: #fff;
    font-weight: normal;
}

#subhome .carousel .carousel-image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#subhome .carousel .carousel-caption {
    left: 0;
    bottom: 0;
    color: #000;
    text-align: left;
    background-color: rgba(235, 235, 235, 0.8);
    width: 100%;
    padding: 20px;
}

#subhome .carousel .carousel-caption h3 a {
    font-size: 1.5em;
    color: #194865;
}

#subhome .carousel .carousel-control-prev, #subhome #carousel .carousel-control-next {
    top: 100px;
    bottom: 50%;
}

#subhome #main-highlight {
    padding-right: 40px;
}

#secondary-highlight {
    margin-top: 20px;
}

#secondary-highlight h3 {
    color: #194865;
    font-size: 1.5em;
}

#secondary-highlight .content{
    padding: 0px 20px;
    min-height: 0px;
}
/*FIN SUBHOME*/

/*SEARCH*/
.ms-srch-people-item #UserInfoContainer{
    width: 370px;
}

#Value{
    padding:5px !important;
}

.ms-ref-selSec > div{
    background-color: #50BBEB;
    border-radius: 20px;
}

.ms-ref-selSec a{
    color: #fff !important;
    font-weight: 500;
}

.ms-srch-hover-outerContainer{
    margin-left: -50px;
}

.ms-srchnav {
    border-bottom: solid 1px #50bbeb;
    height: 26px;
}

.ms-srchnav-item h2 a{
    font-size: 1.2em;
    font-weight: 600;
}

.ms-srchnav-item a{
    padding: 10px 20px 5px 20px;
}

.ms-srchnav-link-selected {
    background-color: #50bbeb;
    color: #fff !important;
}

.ms-ref-refiner a.ms-displayBlock {
    display:inline-block;
}

.ms-ref-refinername {
    font-size: 14px;
    font-weight: 600;
}

.ms-ref-refiner .ms-commandLink, .ms-ref-refiner .ms-commandLink:visited{
    text-transform: lowercase;
    color: #333;
    text-align: right;
    width: 100%;
}

.ms-ref-refiner .ms-commandLink > div, .ms-ref-refiner .ms-commandLink:visited > div{
    font-size: 12px;
}

/*ARTICLE*/
#article img {
    max-width: 100%;
    height: auto;
}

#article #summary-zone{
    line-height: 28px;
    padding-left: 15px;
}

#article #summary-zone #summary {
    display: block !important;
    padding-right: 40px;
}

#article #content-zone, #article #sections{
    margin-top: 20px;
    padding: 0px 20px;
}

#article #sections {
    margin-top: 20px;
}
/*FIN ARTICLE*/

/*MÓDULOS*/
.module {
    margin-bottom: 20px;
}
.ms-webpart-chrome-title {
    background-color: #D9F3FC !important;
    height: 45px !important;
    margin-bottom: 20px;
    padding-left: 20px !important;
}

.ms-webpart-chrome-title span{
    font-weight: 600 !important;
}

.ms-webpart-chrome-title h2 {
    margin:0px !important;
    font-size: 1.5em !important;
    color: #194865;
}

.module .module-content{
    padding:0px 20px;
}
/*FIN MÓDULOS*/

.right-column{
    background-color: #fafafa;
    padding: 15px;
}

.right-column .ms-webpart-chrome-title {
    background-color: #fafafa !important;
    height: 45px !important;
    margin-bottom: 0px;
    padding-left: 0px !important;
}

.right-column .ms-webpart-chrome-title h2 span{
    color: #333;
    font-weight: 700!important;
    font-size: 1.2em;
}

/*FOOTER*/
footer {
    background-color: #003354;
    min-height: 300px;
    padding: 60px 0px;
    margin-top: 20px;
}

footer div{
    text-align: center;
}

footer p{
    color:#fff;
}

#quickLinks{
    display:inline-block;
    list-style: none;
    padding:10px 0px;
    list-style: none;
}

#quickLinks ul{
    padding-left: 0px;
    list-style:none;
}

#quickLinks li{
    text-align: left;
}

#quickLinks li.group-list{
    float:left;
    margin-right: 100px;
    color:#66CCFF;
    font-weight: bold;
    font-size: 1.1em;
}

#quickLinks li.group-list:last-child{
    margin-right:0px;
}

#quickLinks li.group-list ul li a{
    color:#fff;
    font-weight: 600;
}

#quickLinks li.group-list ul li a:hover{
    text-decoration: none;
}

#socialLinks{
    list-style: none;
    display:inline-block;
    padding: 0px;
    margin-top: 20px;
}

#socialLinks li{
    float:left;
    margin-right: 20px;
}

#socialLinks li:last-child{
    float:left;
    margin-right: 0px;
}

#socialLinks li a, #socialLinks li a:hover{
    color:#fff;
    text-decoration: none;
}

#socialLinks li a span{
    font-size:3em;
}

#contactLinks{
    list-style:none;
    display:inline-block;
    padding: 0px;
}

#contactLinks li{
    float:left;
    padding: 0px 10px;
    border-right:solid 1px #fff;
}

#contactLinks li:last-child{
    border-right:none;
}

#contactLinks li a, #contactLinks li a:hover{
    color: #fff;
    text-decoration: none;
}

/*COMPONENTES*/

.table tbody tr td:last-child a, .table tbody tr td:last-child span {
    border-right: none;
}

.card{
    min-height:290px;
}

.card .card-title {
    background-color: #fff;
    padding: 0px;
    margin-bottom: 10px;
}

.card .card-title span{
    font-size: 80px;
    float: left;
    color: #00669C;
}

.card .card-title a{
    line-height: 80px;
    font-size: 1.3em;
    float: left;
}

.card .card-text{
    clear:both;
    padding-left: 20px;
    line-height: 28px;
}

.panel{
    border: none;
}

.panel-body{
    padding: 0px;
}

.panel-title{
    background-color: #EDEDED;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 1rem !important;
    color: #00669C;
}

.panel-title span{
    font-size:1rem !important;
}

.panel ul{
    list-style:none;
    padding:0px;
}

.panel li{
    background-color: #F5F5F5;
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;
}

.panel li:last-child{
    margin-bottom: 0px;
}

.panel li h4{
    font-weight: bold;
}

.panel.icon-left [class^="icon-"], [class*=" icon-"]{
    font-size: 2rem;
}

.panel .toolbar{
    border-bottom: solid 1px #ccc;
    padding: 0px 0px 5px 10px;
}

.panel .toolbar a{
    font-size: 0.7rem;
    text-transform:uppercase;
    font-weight:bold;
}

.panel .toolbar a.add:before{
    font-family: 'vass' !important;
    content: "\e90a";
    margin-right:5px;
}

.panel .toolbar span{
    top: 6px;
    position: relative;
    font-size: 2.2em;
}


/*DATE*/
.date:before{
    font-family: 'vass' !important;
    content: "\e902";
    margin-right: 5px;
}

.clock:before{
    font-family: 'vass' !important;
    content: "\e904";
    margin-right: 5px;
    margin-left: 15px;
}

.clock-bold:before {
    font-family: 'vass' !important;
    content: "\e904";
    margin-right: 5px;
    margin-left: 15px;
    font-weight:bold;
}

/*BANNER*/

.banner{
    height: 268px;
}

.banner .panel-body{
    padding: 40px 20px;
    height:100%;
}

.banner .panel-body a{
    font-size: 3em;
    font-weight: 300;
    display: inline-block;
    line-height:1.1;
    color:#333;
}

.banner .panel-body a:visited, .banner .panel-body a:hover{
    color:#333;
}

.banner .panel-body p{
    width: 75%;
    margin-top:40px;
}

.banner .panel-body span{
    position: absolute;
    left: 75%;
    font-size: 10em;
    bottom: 0%;
    color:#fff;
}

.banner.image{
    background-size: cover !important;
}

.banner.image .panel-body {
    padding:40px;
    background: -moz-linear-gradient(left, rgba(0,52,84,0) 0%, rgba(0,52,84,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,52,84,0) 0%,rgba(0,52,84,1) 100%);
    background: linear-gradient(to right, rgba(0,52,84,0) 0%,rgba(0,52,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003454', endColorstr='#003454',GradientType=1 );
    text-align:right;
}

.banner.image .panel-body a{
    color:#fff;
}

.icon-l .banner-icon{
    height: 268px;
    float: left;
    width: 33%;
    text-align: center;
}

.icon-l .banner-icon span{
    font-size: 20em;
    color: #fff;
}

.icon-l .banner{
    background-color: #F5F5F5;
    float: left;
    width: 67%;
}

#top-zone .module-content{
    padding:0px;
}

#top-zone .banner{
    border-radius: 10px;
}

/*.banner{
    height: 100%;
}

.banner > div{
    height:100%;
}

.banner .image{
    border-radius: 5px;
    padding: 20px;
}

.banner .image .panel-body {
    background-color: rgba(245, 245,245, 0.9);
    margin: 0px;
    width: 90%;
    margin: 0 auto;
}



.banner .panel-body a{
    font-size: 2em;
    font-weight: 300;
    display: inline-block;
    line-height:1.1;
    color:#333;
}

.banner .panel-body a.w-75 {
    line-height: 1.5;
}

.banner .panel-body p {
    margin-top: 20px;
    line-height: 28px;
}

.banner .panel-body span {
    bottom: 130%;
    position: relative;
    font-size: 10em;
    left: 60%;
}

#top-zone .banner .image{
    padding: 0px;
}

#top-zone .banner .image .panel-body {
    background: -moz-linear-gradient(left, rgba(0,52,84,0) 0%, rgba(0,52,84,1) 100%);
    background: -webkit-linear-gradient(left, rgba(0,52,84,0) 0%,rgba(0,52,84,1) 100%);
    background: linear-gradient(to right, rgba(0,52,84,0) 0%,rgba(0,52,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003454', endColorstr='#003454',GradientType=1 );
    width: 100%;
}

#top-zone .banner .image a {
    font-size: 2rem;
    bottom: 50%;
    left: 50%;
    position: absolute;
    color: #fff;
    font-weight: 400;
}

#top-zone .banner .image .panel-body p {
    display:none;
}*/

/*CALENDAR*/
#calendar {
    background: #fff;
    height: 241px;
    border-radius: 5px;
    overflow: hidden;
}

#calendar ul {list-style-type: none;}

#calendar .month {
    width: 100%;
    background: #fff;
    text-align: center;
}

#calendar .month ul {
    margin: 0;
    padding: 0;
}

#calendar .month ul li {
    color: #022540;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

#calendar .month .prev, #calendar .month .next {
    background-color: #326496;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-left: 2px;
}

#calendar .month .prev a, #calendar .month .next a {
    color:#fff;
}

#calendar .month .prev {
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}

#calendar .month .next {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

#calendar .month .current-month{
    padding: 10px 0px;
}

#calendar .weekdays {
    margin: 0;
    padding: 5px 0;
    background-color: #fff;
}

#calendar .weekdays li {
    display: inline-block;
    width: 13%;
    color: #022540;
    font-weight: 600;
    text-align: center;
}

#calendar .days {
    padding: 10px 0;
    background: #fff;
    margin-left: 2px;
    margin-right: -24px;
}

#calendar .days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

#calendar .days li.active {
    padding: 5px;
    background: #629e4d;
    color: #fff !important;
    cursor: pointer;
}

#calendar .days li span {
    padding: 5px;
}

.event-today{
    background: rgba(98, 158, 77, 0.9);
    color: #fff;
    height:100%;
    border-radius: 5px;
}

.event-date{
    text-align: center;
    padding: 10px;
    line-height: 1.2;
}

#home .event-date span{
    display: block;
}

.event-date a{
    color:#fff;
    position:absolute;
    left:70%;
    bottom: 10px;
}

.event-day-number {
    font-size: 2rem;
}

.events{
    padding: 0px;
    list-style: none;
    line-height: 1.5;
    margin: 0px;
}
.events li{
    text-align: left;
}

#home .events li span{
    display: inline;
    font-size: 12px !important;
    color:#fff;
    margin-left: 2px;
}

#home .events li span.icon-reloj{
    font-size:16px !important;
    top:3px !important;
}

/*LISTADO EVENTOS*/

.events{
    margin: 0px 40px;
}

.events .event-detail{
    background-color: #FAFAFA;
    padding: 30px;
}

.events .event-title{
    color: #00669C;
    font-size: 1.3em;

}

.events .event-date{
    padding: 0px;
    border-right: solid 2px #ccc;
}

.events .event{
    border-right: solid 2px #CCCCCC;
}

.events [class^="icon-"], 
.events [class*=" icon-"], 
.events [class^="icon-"], 
.events [class*=" icon-"],
.events [class^="icon-"], 
.events [class*=" icon-"]{
    display:inline;
    font-size: 42px !important;
    top:13px;
    color: #333;
    position: relative;
}

.events .event-inscription span{
    font-size: 2em;
    position: relative;
    top: 9px;
}

.events .event-author img{
    margin-right: 20px;
}

/*CÍRCULOS*/
#my-stock h2{
    color:#50bbeb;
    font-size: 1.5em;
    margin-top: 40px;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    #calendar .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    #calendar .weekdays li, .days li {width: 12.5%;}
    #calendar .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    #calendar .weekdays li, .days li {width: 12.2%;}
}

/*WEBPARTS SHAREPOINT*/
.ms-webpart-chrome-title{
    background-color: #EDEDED;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

.ms-webpart-chrome-title span{
    font-size:1rem;
    color: #00669C;
    font-weight:400;
}

/*Encuesta*/
.ms-surveyHBar{
    background-color: #2b96ea;
    border-color: #2b96ea;
}

/*WIZARD TEAMS*/

#wizard-indicators div{
    height: 120px;
    background-color: #FAFAFA;
    margin-right: 20px;
}

#wizard-indicators div .circle{
    background-color: #50bbeb;
}

#wizard-indicators div.active{
    background: #50bbeb;
}

#wizard-indicators div.active .circle{
    background-color: #003454;
}

#wizard-indicators div p {
    color: #003454;
    font-weight: 600;
    font-size: 20px !important;
    margin-top: 44px;
    float:left;
    margin-left: 20px;
}

#wizard-indicators div.active p {
    color: #fff;
}

#wizard-indicators .circle {
    float:left;
    height: 73px;
    border-radius: 50%;
    width: 73px;
    font-size: 46px !important;
    margin-top: 20px;
    margin-left: 0px;
    color: #fff;
}

#wizard-indicators div.completed{
    background-color: #666;
}

#wizard-indicators div.completed p{
    color:#fff;
}

#wizard-indicators div.completed .circle{
    background-color: #fff;
    color:#50BBEB
}

#wizard-steps {
    margin-top: 100px;
    height: 150px;
    clear: both;
}

#wizard-steps input[type="text"]{
    height: 60px;
    border-radius: 0;
}

#wizard-steps input[type="text"]:focus{
    border-color: #ababab;
    box-shadow:none;
}

#wizard-buttons{
    text-align: center;
}

#wizard-buttons button{
    margin-right: 20px;
    padding: 10px 40px;
    color:#fff;
    border:none;
    text-transform: lowercase;
    font-weight: 600;
}

#wizard-buttons button.btn-grey:hover, #wizard-buttons button.btn-grey:focus{
    background-color: #666;
}

#wizard-buttons button.btn-orange:hover, #wizard-buttons button.btn-orange:focus{
    background-color: #f39a4a;
}

/*Class*/
.wizard-indicators div{
    background-color: #FAFAFA;
    margin-right: 20px;
    padding: 15px;
}

.wizard-indicators div .circle{
    background-color: #50bbeb;
}

.wizard-indicators div.active{
    background: #50bbeb;
}

.wizard-indicators div.active .circle{
    background-color: #003454;
}

.wizard-indicators div p {
    color: #003454;
    font-weight: 600;
    font-size: 20px !important;
}

.wizard-indicators div.active p {
    color: #fff;
}

.wizard-indicators .circle {
    height: 73px;
    border-radius: 50%;
    width: 73px;
    font-size: 46px !important;
    margin:0 auto;
    color: #fff;
}

.wizard-indicators div.completed{
    background-color: #666;
}

.wizard-indicators div.completed p{
    color:#fff;
}

.wizard-indicators div.completed .circle{
    background-color: #fff;
    color:#50BBEB
}

.wizard-steps {
    margin-top: 100px;
    min-height: 150px;
    clear: both;
}

.wizard-steps .form-control{
    height: 60px;
    border-radius: 0;
}

.wizard-steps .form-control:focus{
    border-color: #ababab;
    box-shadow:none;
}

.wizard-buttons{
    text-align: center;
}

.wizard-buttons button{
    margin-right: 20px;
    padding: 10px 40px;
    color:#fff;
    border:none;
    text-transform: lowercase;
    font-weight: 600;
}

.wizard-buttons button.btn-grey:hover, .wizard-buttons button.btn-grey:focus{
    background-color: #666;
}

.wizard-buttons button.btn-orange:hover, .wizard-buttons button.btn-orange:focus{
    background-color: #f39a4a;
}

.wizard-steps h2{
    font-size: 2em !important;
}

/*PAGINACIÓN*/

.paging{
    text-align: center;
}

.paging a{
    color:#333;
}

.paging a span{
    font-size: 1.5em;
}

.paging .ms-paging{
    top: -3px;
    position: relative;
}

/*THUMBNAILS*/
.thumbnail-container{
    background-color: #ededed;
    padding: 30px 15px;
    margin-bottom: 20px;
    min-height: 155px;
    overflow: auto;
}

.thumbnail-container img{
    background-color: #ededed;
    max-height: 75px;
}

.thumbnail-container a{
    font-weight: 600;
}

/*DOCUMENT LIST*/

.doc-list .table tbody tr td{
    border:none;
}

.doc-list span{
    font-size: 2.5em;
}

.doc-list a{
    display: inline-block;
    top: -10px;
    position: relative;
    margin-left: 10px;
}

.img-gallery .card{
    height: 255px;
    overflow: hidden;
    margin-bottom: 40px;
}

.img-gallery .card img{
    position: absolute;
}

.img-gallery .card .card-body{
    position: relative;
    top: 185px;
    background-color: rgba(255, 255, 255, 0.9);
    padding-left:5px;
    padding-right:5px;
}

.img-gallery .card .card-body p, .img-gallery .card .card-body a{
    font-size: 12px !important;
    padding-left:0px;
}

.img-gallery .card .card-body .card-title{
    background:none;
}

.img-gallery .card .card-body span[class^="icon-"]{
    font-size: 24px !important;
    position: relative;
    top: 5px;
}

.article-list .article-card{
    background-color: #FAFAFA;
    padding: 30px 30px 20px 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.article-list .article-card .row{
    margin-bottom: 0px;
}

.article-list .article-image{
    height: 130px;
    width: 130px;
}

.article-list .article-date{
    color: #50bbeb;
    font-weight: 600;
}

.article-list .article-data{
    font-weight: 600;
}

.article-list .article-data p{
    font-weight: 400;
    font-size: 13px !important;
}

/*MY TEAMS*/
#my-teams .team-icon, #my-projects .team-icon, #my-guilds .team-icon{
    height: 45px;
    width: 45px;
    padding-top: 15px;
    color: #fff;
}

#my-teams h4 a, #my-projects h4 a, #my-guilds h4 a{
    color: #333;
}

div#my-teams .col-5, div#my-projects .col-5, div#my-guilds .col-5{
    background-color: #fafafa;
    padding: 15px;
    height: 90px;
    margin: 20px;
}

div#my-teams a, div#my-projects a, div#my-guilds a{
    font-size: 1.2em;
    font-weight: 600;
}

div#my-teams .team-icon, div#my-projects .team-icon, div#my-guilds .team-icon{
    height: 60px;
    width: 60px;
}

/*MY PEOPLE*/
#my-people .icon-usuario{
    font-size: 42px;
}

#my-people h4 a{
    color: #333;
}

/*TABLA*/
.table-list tr{
    border-bottom: solid 1px #333;
}

/*THRONES*/
#thrones{
    margin: 0px 40px;
}
#thrones .throne{
    padding: 15px 30px;
    background: #fafafa;
}

#thrones .throne img{
    background-color: #fff;
}

/*RSS*/
#xltTable{
    width: 100% !important;
}

#header{
    background-color:none !important;
}

#xltTable tr:not([id]) a{
    font-size: 14px !important;
}

/*APROBACIÓN DE CURSOS*/
#approve-buttons{
    text-align: center;
}

#approve-buttons button{
    margin-right: 20px;
    padding: 10px 40px;
    color:#fff;
    border:none;
    text-transform: lowercase;
    font-weight: 600;
}

/*BOOTBOX*/
.bootbox-close-button{
    display:none;
}

.bootbox-prompt .modal-title{
    margin:0px;
}

/*TILE*/
.tile{
    height: 120px;
    width: 120px;
    margin: 0px 15px;
    text-align: center;
    padding: 20px 0px;
    border-radius: 5px;
}

.tile p{
    color: #fff;
}

#thrones-resume{
    background-color: #fafafa;
    display: block;
    width: 100%;
    overflow: auto;
    padding: 30px 0px;
}

.tile-summary{
    position:relative;
    padding-top:20px;
    display:inline-block;
    margin-right: 40px;
}

#thrones-resume .main{
    width:100%;
    text-align:center;
}

#thrones-resume .secondary{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

#thrones-resume .main .tile-summary{
    float:none;
}

.tile-summary img{
    border-radius: 0px;
}

.notify-badge{
    position: absolute;
    right:-13px;
    top:10px;
    text-align: center;
    border-radius: 50%;
    color:white;
    padding: 3px;
    height: 30px;
    width: 30px;
    border: solid 2px #fff;
}

/*ENCUESTAS*/
.survey *{
    font-family: 'Montserrat', sans-serif;
}
.survey .ms-formlabel{
    font-size: 1.3em;
}

.survey .ms-formtable{
    margin-top: -40px;
    margin-left: 20px;
}

.survey .ms-formbody{
    border-bottom: solid 1px #ccc;
}

.survey .ms-formbody table{
    width: 90%;
    margin-left: 100px;
}

.survey .ms-gridT1{
    font-weight: 500;
    width:auto;
}

.survey .ms-descriptiontext{
    display: none;
}

.survey .btn-grey, .survey .btn-grey:hover, .survey .btn-grey:focus{
    background-color: #666;
    width: 120px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-family: "Montserrat" !important;
    font-size: 14px !important;
    border: none !important;
}

.survey .btn-orange, .survey .btn-orange:hover, .survey .btn-orange:focus{
    background-color: #f39a4a;
    width: 120px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-family: "Montserrat" !important;
    font-size: 14px !important;
    border: none !important;
}

.form-control{
    height: 48px !important;
    border-radius: 0;
}

.form-control:focus{
    border-color: #ababab;
    box-shadow:none;
}

/*BOTONES*/
a.btn-orange, a.btn-orange:hover, a.btn-orange:focus, a.btn-orange:visited{
    background-color: #f39a4a;
    min-width: 120px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-family: "Montserrat" !important;
    font-size: 14px !important;
    border: none !important;
    padding:10px;
}

/*RANKING*/
#ranking .group-title{
    padding-left:20px;
    width: 100%;
    color:#458CB4
}

#ranking .group-description{
    margin:0px;
}

#ranking .group-users{
    position: relative;
    top: 15%;
}

#ranking .group-users img{
    width: 46px;
}

#ranking .badge-info{
    width:60px;
    background-color: #50BBEB;
    top: 10px;
    position: relative;
}

#ranking .group-info{
    clear: both;
    width: 100%;
    display: block;
    margin: 10px 0px 0px 10px;
}

#ranking .group-info span{
    font-size: 20px;
    position: relative;
    top: 3px;
}

#ranking > .row{
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
}

#ranking .panel{
    margin:20px;
    background-color: #fafafa;
    padding: 30px;
}