/*
h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}
*/

#s4-bodyContainer{
    padding-bottom: 0px;
}

#DeltaWebPartAdderUpdatePanelContainer{
    z-index:999;
}

.container-fluid * {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

p, p span {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px !important;
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
}

a, a:hover, a:visited{
    color:#00669C;
    text-decoration:none;
}

.o-hidden{
    overflow: hidden;
}

/*TAMAÑOS FUENTE*/
.font-weight-semi-bold{
    font-weight: 600;
}

.bold{
    font-weight: bold;
}

/*MÁRGENES*/
.mt-6{
    margin-top: 65px;
}

.no-margin{
    margin: 0px !important;
}

.mb-0{
    margin-bottom: 0px;
}

.no-padding{
    padding: 0px;
}

.no-padding-right{
    padding-right: 0px;
}

.pl-15{
    padding-left: 15px;
}

.pr-0{
    padding-right:0px;
}

/*BORDES*/
.br-10{
    border-radius:10px;
}

    .br-10 .panel-body {
        border-bottom-right-radius: 10px;
    }

/*ALTURAS*/
.h-50p {
    height: 50%;
}

.h-200{
    height: 228px;
}

/*ANCHOS*/
.w-75{
    width:75%;
}

/*BACKGROUND*/
.bg-dark-blue{
    background-color: #003354;
}

/*HEADER*/
.navbar{
    height:120px;
}

.logo{
    width: 15%;
}

.s4-tn{
    margin-top: 65px;
}

.s4-tn li.static{
    margin-left:40px;
}

.s4-tn li.static > a {
	display: none !important;
}

.s4-tn li.static > ul a {
	display: block !important;
    color: #fff;
    font-weight: 600;
    text-transform:uppercase;
}

.s4-tn li.static > ul a:hover{
    color: #fff;
}

.search-box{
    background: url('/style library/images/search.png') #194865 no-repeat 97% center !important;
    border:none !important;
    width:100% !important;
    padding:15px 15px 15px 80px !important;
    height: 60px !important;
    color:#fff !important;
    border-radius:0px !important;
    font-size:1.2rem !important;
    margin-bottom: 1px;
}

.search-box:focus{
    border: none !important;
    outline: none;
}

.menu-item.dynamic-children span {
    background: none !important;
}

.s4-tn li.static {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ms-core-listMenu-horizontalBox .dynamic-children.additional-background{
    padding:0px;
}

.ms-core-listMenu-horizontalBox li.static > .ms-core-listMenu-item{
    margin-right: 0px;
}

ul.root > li ul li.static.dynamic-children ul {
    list-style: none;
    background-color: #003354;
    border: none;
    box-shadow: none;
    left: 0px !important;
    min-width: 200px !important;
}

ul.root > li ul li.selected {
    background-color: #C2ECFA;
    border-radius: 5px;
}

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:hover, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-tv-selected:link {
    color: #003354;
}

/*CONTENT*/
.content {
    min-height: 400px;
    margin-top: 20px;
    padding: 0px 20px;
}

/*HOME*/

#home .row{
    margin-bottom: 20px;
}

#top-zone {
    background-color:#003354;
    padding: 15px 5px 0px 5px;
    overflow: hidden;
}

#home #carouselNews{
    border-radius: 10px;
}

#home #carouselNews .carousel-item {
    height: 380px;
}

#home #carouselNews .carousel-item .carousel-caption {
    left: 0%;
    right: 0%;
    bottom: 0px;
    padding: 15px;
    background-color: rgba(245, 245,245, 0.9);
    text-align:left;
    color:#000;
}

#home #carouselNews .carousel-item .carousel-caption h5 a
{
    font-size: 2em;
}
/*FIN HOME*/
/*SUBHOME*/
#current-menu {
    background-color: #D9F3FC;
    min-height: 300px;
    padding: 40px 0px;
}

#current-menu ul{
    list-style: none;
    padding-left: 0px;
}

#current-menu ul li {
    margin-bottom: 10px;
    padding-left: 60px;
}

#current-menu ul li a{
    font-size: 1.2em !important;
    color: #000;
}

#current-menu ul li a, #current-menu ul li a:hover, #current-menu ul li a:visited {
    text-decoration: none;
}

#current-menu ul li.active {
    background-color: #c2ecfa;
    font-weight: normal;
}

#current-submenu {
    background-color: #c2ecfa;
    min-height: 300px;
    padding: 40px 0px;
}

#current-submenu ul {
    list-style: none;
    padding-left: 0px;
}

#current-submenu ul li {
    margin-bottom: 10px;
    padding-left: 20px;
}

#current-submenu ul li a {
    font-size: 1.2em !important;
    color: #000;
}

#current-submenu ul li a, #current-submenu ul li a:hover, #current-submenu ul li a:visited {
    text-decoration: none;
}

#current-submenu ul li.active {
    background-color: #fff;
    font-weight: normal;
}


#subhome h2, #article h2 {
    color: #194865;
    border-bottom: solid 1px;
    margin-top: 20px;
    font-size: 2em;
}

#subhome #carouselNews .carousel-image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

#subhome #carouselNews .carousel-caption {
    left: 0;
    bottom: 0;
    color: #000;
    text-align: left;
    background-color: rgba(235, 235, 235, 0.8);
    width: 100%;
    padding: 20px;
}

#subhome #carouselNews .carousel-caption h3 a {
    font-size: 1.5em;
    color: #194865;
}

#subhome #carouselNews .carousel-control-prev, #subhome #carouselNews .carousel-control-next {
    top: 100px;
    bottom: 50%;
}

#subhome #main-highlight {
    padding-right: 40px;
}

#secondary-highlight {
    margin-top: 20px;
}

#secondary-highlight h3 {
    color: #194865;
    font-size: 1.5em;
}

#secondary-highlight .content{
    padding: 0px 20px;
    min-height: 0px;
}
/*FIN SUBHOME*/

/*WP-PAGE*/
#wp-page h2 {
    margin: 40px 0px;
    font-size: 2em;
    color: #003354;
}

/*SEARCH*/
.ms-srch-people-item #UserInfoContainer{
    width: 370px;
}

.ms-srch-hover-outerContainer{
    margin-left: -50px;
}

.ms-srchnav {
    border-bottom: solid 1px #ccc;
}

.ms-srchnav-item {
    border: solid 1px #fff;
}

.ms-srchnav-item a{
    padding: 10px 20px 5px 20px;
}

.ms-srchnav-link-selected {
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ms-ref-refiner a.ms-displayBlock {
    display:inline-block;
}

.ms-ref-refinername {
    font-size: 14px;
    font-weight: 500;
}

/*ARTICLE*/
#article img {
    max-width: 100%;
    height: auto;
}

#article #summary-zone #summary {
    display: block !important;
    padding-right: 40px;
}

#article #content-zone, #article #sections{
    margin-top: 20px;
    padding: 0px 20px;
}

#article #sections {
    margin-top: 20px;
}
/*FIN ARTICLE*/
/*MÓDULOS*/
.module {
    margin-bottom: 20px;
}
.module h3 {
    margin: 20px 0px;
    font-size: 1.5em;
    color: #194865;
    background-color: #D9F3FC;
    padding: 5px 20px;
}

.module .module-content{
    padding:0px 20px;
}
/*FIN MÓDULOS*/

/*FOOTER*/
footer {
    background-color: #003354;
    min-height: 300px;
    padding: 60px 0px;
    margin-top: 20px;
}

footer div{
    text-align: center;
}

footer p{
    color:#fff;
}

#quickLinks{
    display:inline-block;
    list-style: none;
    padding:10px 0px;
    list-style: none;
}

#quickLinks ul{
    padding-left: 0px;
    list-style:none;
}

#quickLinks li{
    text-align: left;
}

#quickLinks li.group-list{
    float:left;
    margin-right: 100px;
    color:#66CCFF;
    font-weight: bold;
    font-size: 1.1em;
}

#quickLinks li.group-list:last-child{
    margin-right:0px;
}

#quickLinks li.group-list ul li a{
    color:#fff;
    font-weight: 500;
}

#quickLinks li.group-list ul li a:hover{
    text-decoration: none;
}

#socialLinks{
    list-style: none;
    display:inline-block;
    padding: 0px;
    margin-top: 20px;
}

#socialLinks li{
    float:left;
    margin-right: 20px;
}

#socialLinks li:last-child{
    float:left;
    margin-right: 0px;
}

#socialLinks li a, #socialLinks li a:hover{
    color:#fff;
    text-decoration: none;
}

#socialLinks li a span{
    font-size:3em;
}

#contactLinks{
    list-style:none;
    display:inline-block;
    padding: 0px;
}

#contactLinks li{
    float:left;
    padding: 0px 10px;
    border-right:solid 1px #fff;
}

#contactLinks li:last-child{
    border-right:none;
}

#contactLinks li a, #contactLinks li a:hover{
    color: #fff;
    text-decoration: none;
}

/*COMPONENTES*/
.table tbody tr td a, .table tbody tr td span {
    display: block;
    border-right: solid 1px #ccc;
    line-height: 2rem;
}

.table tbody tr td:last-child a, .table tbody tr td:last-child span {
    border-right: none;
}
.card .card-title {
    background-color: #fff;
    padding: 0px;
    margin-bottom: 10px;
}

.card .card-title a{
    font-size: 1.3em;
}

.panel{
    border: none;
}

.panel-body{
    padding: 0px;
}

.panel-title{
    background-color: #EDEDED;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 1rem !important;
    color: #00669C;
}

.panel-title span{
    font-size:1rem !important;
}

.panel ul{
    list-style:none;
    padding:0px;
}

.panel li{
    background-color: #F5F5F5;
    padding: 10px 20px 5px 20px;
    margin-bottom: 10px;
}

.panel li:last-child{
    margin-bottom: 0px;
}

.panel li h4{
    font-weight: bold;
}

.panel.icon-left [class^="icon-"], [class*=" icon-"]{
    font-size: 2rem;
}

.panel .toolbar{
    border-bottom: solid 1px #ccc;
    padding: 0px 0px 5px 10px;
}

.panel .toolbar a{
    font-size: 0.7rem;
    text-transform:uppercase;
    font-weight:bold;
}

.panel .toolbar a.add:before{
    font-family: 'vass' !important;
    content: "\e90a";
    margin-right:5px;
}


/*DATE*/
.date:before{
    font-family: 'vass' !important;
    content: "\e905";
    margin-right: 5px;
}

.clock:before{
    font-family: 'vass' !important;
    content: "\e906";
    margin-right: 5px;
    margin-left: 15px;
}

.clock-bold:before {
    font-family: 'vass' !important;
    content: "\e906";
    margin-right: 5px;
    margin-left: 15px;
    font-weight:bold;
}

/*BANNER*/
.banner{
    height: 100%;
    border-radius: 0px;
}

.banner .panel-body{
    padding: 30px;
}

.banner .panel-body a{
    color: #000;
    font-size: 2.5rem;
    font-weight: 300;
    display: inline-block;
    line-height:1.1;
}

.banner .panel-body a.w-75 {
    line-height: 1.5;
}

.banner .panel-body p {
    margin-top: 20px;
}

.banner.image .panel-body {
    margin: 30px;
    background-color: rgba(245, 245,245, 0.9);
}

#top-zone .banner{
    border-radius: 10px;
}

#top-zone .banner a {
    position: absolute;
    font-size: 1rem;
    bottom: 10px;
    left: 20px;
}

#top-zone .banner.image .panel-body {
    background-color: rgba(245, 245,245, 0.9);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    width: 90%;
}

#top-zone .banner.image .panel-body a {
    position: relative;
    margin-left: 0px;
    font-size: 1rem;
    font-weight: 500;
    bottom: 0;
    left: 0;
}

#top-zone .banner.image .panel-body p {
    font-size: 0.8rem;
    font-weight: 300;
    width: 100% !important;
}

/*CALENDAR*/
#calendar {
    background: #D9F3FC;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
}

#calendar ul {list-style-type: none;}

#calendar .month {
    width: 100%;
    background: #D9F3FC;
    text-align: center;
}

#calendar .month ul {
    margin: 0;
    padding: 0;
}

#calendar .month ul li {
    color: #022540;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}

#calendar .month .prev, #calendar .month .next {
    background-color: #326496;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-left: 2px;
}

#calendar .month .prev a, #calendar .month .next a {
    color:#fff;
}

#calendar .month .prev {
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}

#calendar .month .next {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

#calendar .month .current-month{
    padding: 10px 0px;
}

#calendar .weekdays {
    margin: 0;
    padding: 5px 0;
    background-color: #D9F3FC;
}

#calendar .weekdays li {
    display: inline-block;
    width: 13%;
    color: #022540;
    font-weight: 500;
    text-align: center;
}

#calendar .days {
    padding: 10px 0;
    background: #D9F3FC;
    margin-left: 2px;
    margin-right: -24px;
}

#calendar .days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

#calendar .days li.active {
    padding: 5px;
    background: #629e4d;
    color: #fff !important;
    cursor: pointer;
}

#calendar .days li span {
    padding: 5px;
}

.event-today{
    background: #629e4d;
    color: #fff;
    height:100%;
    border-radius: 10px;
}

.event-date{
    text-align: center;
    padding: 10px;
    line-height: 1.2;
}

.event-date span{
    display: block;
}

.event-date a{
    color:#fff;
    position:absolute;
    left:70%;
    bottom: 10px;
}

.event-day-number {
    font-size: 2rem;
}

.events{
    padding: 0px;
    list-style: none;
    line-height: 1.5;
    margin: 0px;
}
.events li{
    text-align: left;
}

.events li span{
    display: inline;
    font-size: 11px;
    margin-left: 2px;
}

/*CÍRCULOS*/
#my-stock .big-circle {
    color: #fff;
    border-radius: 50%;
    line-height: 240px;
    font-size: 2em !important;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

#my-stock .big-circle {
    color: #fff;
    border-radius: 50%;
    line-height: 240px;
    font-size: 2em !important;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

#my-stock .big {
    font-size: 2em !important;
    margin: 20px 0px;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    #calendar .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    #calendar .weekdays li, .days li {width: 12.5%;}
    #calendar .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    #calendar .weekdays li, .days li {width: 12.2%;}
}

/*WEBPARTS SHAREPOINT*/
.ms-webpart-chrome-title{
    background-color: #EDEDED;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

.ms-webpart-chrome-title span{
    font-size:1rem;
    color: #00669C;
    font-weight:400;
}

/*Encuesta*/
.ms-surveyHBar{
    background-color: #2b96ea;
    border-color: #2b96ea;
}

/*WIZARD TEAMS*/
.circle {
    height: 40px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    color: #fff;
    font-weight:bold;
    padding-top: 10px;
    margin: 0 auto !important;
}

.circle.disabled {
    background: #ccc;
}

#wizard-steps {
    margin-top: 100px;
    height: 150px;
    clear: both;
}

#wizard-buttons button {
    margin-right: 20px;
}
