.circle {
    height: 40px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    margin: 0 auto !important;
}

    .circle.disabled {
        background: #ccc;
    }

#wizard-steps {
    margin-top: 100px;
    height: 150px;
    clear: both;
}

#wizard-buttons button {
    margin-right: 20px;
}
